
<div>

    <h3 id="score">Score: </h3>
    <h3 id="health">Health: </h3>
    <input type="button" class="backButton" value="Exit"/>
</div>


<canvas id="gameview">
    Deze browser ondersteunt HTML canvas niet
</canvas>

<audio id = 'soundtrack'>
    <source src="/sounds/soundtrack.mp3"/>
</audio>