
<div>
    <h3>Score: </h3>
    <h3>Health: </h3>
     <form id="exitForm" method="get" action="/">
        <button id="exitButton" type="button" class="backButton" >Exit</button>
    </form>
</div>

<canvas id="gameview">
    Deze browser ondersteunt HTML canvas niet
</canvas>
<p id="score"> </p>
<p id="health"></p>

<audio id = 'soundtrack'>
    <source src="/sounds/soundtrack.mp3"/>
</audio>

<audio id = 'click'>
    <source src="/sounds/click.mp3"/>
</audio>