<div>
    <h1 id="gameover"></h1>
    <h3 id="score">Score: </h3>
    <h3 id="health">Health: </h3>
    <div>
        <button id="restartButton" type="button" class="backButton">Restart</button>
        <form id="exitForm" method="get" action="/">
            <button id="exitButton" type="button" class="backButton">Exit</button>
        </form>
    </div>

</div>
<div id="canvasDiv"></div>

<audio id='soundtrack'>
    <source src="/sounds/soundtrack.mp3"/>
</audio>

<audio id='click'>
    <source src="/sounds/click.mp3"/>
</audio>
