<div>
	<h3>Score: </h3>
	<h3>Health: </h3>
	<form method="get" action="/">
		<button class="backButton" type="submit">Exit</button>
	</form>
</div>
<div id="canvasDiv">
</div>

<p id="score"> </p>
<p id="health"></p>

<audio id='soundtrack'>
    <source src="/sounds/soundtrack.mp3"/>
</audio>
