
<div class="splashWelcomeContainer">
    <h1 class="splashWelcomeTitle">{{title}}</h1>

<<<<<<< HEAD
    <button class="startButton" onclick="soundOnClick()"><a href="./game/newPlayer">Start</a></button>
=======
    <button id="startButton" class="startButton" >Start</button>
>>>>>>> master

</div>

<audio id = 'explosion'>
    <source src="sounds/Explosion.mp3"/>
</audio>

