<div class="splashWelcomeContainer">
    <h1 class="splashWelcomeTitle">{{title}}</h1>

    <div class="vertical">
        <ul>
            <li>
                <button id="startButton" class="startButton">Start</button>
            </li>
            <li>
<form action="testtable" method="get">
  <button id="testtable">Testtabel</button>
</form>
            </li>
        </ul>
    </div>

</div>

<div id="instructions">
    <h2>Instructions:</h2>
    <p>
        To play this game, you use the W, A, S and D buttons to move and point.<br> You can shoot with the spacebar.<br> Your target is to kill the other player, before he kills you!
    </p>
</div>



<audio id='click'>
    <source src="sounds/click.mp3"/>
</audio>
