
<div class="splashWelcomeContainer">
    <h1 class="splashWelcomeTitle">{{title}}</h1>
    <button id="startButton" class="startButton" >Start</button>
</div>

<h3>Instructions:</h3>
<p>
    To play this game, you use the W, A, S and D buttons to move en point.<br>
    You can shoot by clicking the mousebutton.<br>
    Your target is to kill the other player, before he kills you!
</p>

<audio id = 'click'>
    <source src="sounds/click.mp3"/>
</audio>

