
<div class="splashWelcomeContainer">
    <h1 class="splashWelcomeTitle">{{title}}</h1>
    <button id="startButton" class="startButton" >Start</button>
</div>

<audio id = 'click'>
    <source src="sounds/click.mp3"/>
</audio>

