<script src="javascripts/indexApp.js"></script>
<div class="splashWelcomeContainer">

    <h1 class="splashWelcomeTitle">{{title}}</h1>

    <button class="startButton" onclick="soundOnClick()">Start</button>

</div>



<audio id = 'explosion'>
    <source src="sounds/Explosion.mp3"/>
</audio>