<div class="newPlayerContainer">
    <h1 class="newPlayerTitle">{{title}}</h1>


    <form id="playerForm" method="POST" action="./NewPlayer">
    <table class="playerOptionsTable">
        <tr>
            <td>Name:</td>
            <td><input id="pn" name="playerName" type="text" class="newPlayerNameInput"></td>

        </tr>
        <tr>
            <td>Color:</td>
            <td>
                <div id="dropDown" class="dropDownContainer">

                    <div class="colorDropDown">
                        <p id="selectedColor" class="selectedColor"></p>
                        <input id="pc" name="playerColor" type="hidden" value="">
                        <div id="listArrow" class="listArrow" onclick="dropDown(this)">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                        <ul id="colorList" class="colorList">
                        </ul>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>{{#if errors}}
            {{#each errors}}
                <p class="error">{{this.msg}}</p>
            {{/each}}
        {{/if}}</td>
            <td><button type="button" class="startButton" id="continueButton">Continue</button></td>
        </tr>
    </table>
    </form>
</div>

<audio id = 'click'>
    <source src="/sounds/click.mp3"/>
</audio>
