<div class="newPlayer">
    <h1 class="newPlayerTitle">{{title}}</h1>

    <li>
        <ul>
            <form action="./newPlayer" method="post">
                <label>Name:</label>
                <input type="text" name="playerName" class="newPlayerNameInput">
                <button type="submit" class="startButton">Start</button>
            </form>
            </ul>
            <ul>
                <label>Color:</label>
                <select>
                    <option>color 1</option>
                    <option>color 2</option>
                    <option>color 3</option>
                </select>
            </ul>
        </li>

</div>