<div class="newPlayer">
    <h1 class="newPlayerTitle">{{title}}</h1>

    <li>
        <ul>
            <label>Name:</label>
            <input type="text" class="newPlayerNameInput">
        </ul>
        <ul>
            <label>Color:</label>
            <select>
                <option>color 1</option>
                <option>color 2</option>
                <option>color 3</option>
            </select>
        </ul>
    </li>
    <button class="startButton">Start</button>

</div>