<div class="browsertabel">
    <h1>Browsertest</h1>
    <table>
        <tr>
            <th>Webbrowser</th>
            <th>Geslaagd/Niet Geslaagd</th>
        </tr>
        <tr>
            <td>Google Chrome</td>
            <td>Geslaagd</td>
        </tr>
        <tr>
            <td>Mozilla Firefox</td>
            <td>Geslaagd</td>
        </tr>
        <tr>
            <td>Internet Explorer 11</td>
            <td>Game werkend - Fonts worden niet geladen</td>
        </tr>
        </tr>
        <tr>
            <td>Microsoft Edge</td>
            <td>Geslaagd</td>
        </tr>
        </tr>
        <tr>
            <td>Opera</td>
            <td>Geslaagd</td>
        </tr>
        </tr>
        <tr>
            <td>Safari</td>
            <td>Niet geslaagd</td>
        </tr>
    </table>
</div>

<form action="/" method="get">
  <button id="homeButton">Terug</button>
</form>
