
@font-face {
  font-family: FreshBot;
  src: url(FRESHBOT.TTF);
}

@font-face {
  font-family: Chromia;
  src: url(Chromia.otf);
}

body {
  padding: 50px;
  /*font: 14px "FreshBot", Helvetica, Arial, sans-serif;*/
  background-color: black;
}



/*Text style*/

p{
  font-family: 'FreshBot';
  font-weight: 200;
  color: lawngreen;
}

h1{
  font-family: 'Chromia';
  color: lawngreen;
  font-size: 28pt;
}

a {
  font-family: 'FreshBot';
  color: lawngreen;
}

label{
  font-family: 'FreshBot';
  color: lawngreen;
}

/*Welcome Screen*/

.splashWelcomeContainer{
  width: 100%;
}

.splashWelcomeTitle{
  text-align: center;
  font-size: 48pt;
  padding: 50px;
}

.startButton{

  width: 150px;
  height: 75px;
  border: solid lawngreen 2px;

  margin: 0 -75px;
  position: relative;
  left: 50%;

  font-size: 36pt;
  font-family: 'FreshBot';
  font-weight: 100;
  color: lawngreen;

  border-radius: 10px;

  background-color: black;
}

